  nav,
.offcanvas {
background-color: #c79da1;
}
.navbar-toggler {
border: none;
}
.navbar-toggler:focus {
outline: none;
box-shadow: none;
}

@media (max-width: 2160px) {
.navbar-nav > li:hover {
  background-color: #9da1c7;
}
}
body {
  font-family: Arial, sans-serif;
  background-color: #a3c9a1;
  margin: 0;
  padding: 0;
  text-align: center;
}
